.title{
    color:$color-title;
    font-family:$font-family-title;
    font-weight:$font-weight-title;
    font-size:$font-size-title;
    line-height:$line-height-title;
}
.text{
    color:$color-text;
    font-family:$font-family-text;
    font-weight:$font-weight-text;
    font-size:$font-size-text;
    line-height:$line-height-text;
    max-width: 600px;
}
.intro{
    color:$color-intro;
    font-family:$font-family-intro;
    font-weight:400;
    font-size:$font-size-intro;
    line-height:$line-height-intro;
}