/////////////////////////////////////////////////////body/////////////////////////////////////////////

$color-body: #000000;
$font-family-body:'Poppins', sans-serif;

//////////////////////////////////////////////////////colors///////////////////////////////////////////
$color-main1:#000000;
$color-main2:#FFFFFF;
$color-header-nav-link:#FFFFFF;
$color-header-button-static:#FFFFFF;
$color-header-button-hover:#0067F4;
$color-title: #000000;
$color-text:#000000;
$color-intro:#0370F3;

///////////////////////////////////////////////////title///////////////////////////////////////////////

$color-title: #000000;
$font-family-title:'Poppins', sans-serif;
$font-weight-title:700px;
$font-size-title:55px;
$line-height-title:65px;

///////////////////////////////////////////////////text///////////////////////////////////////////////

$color-text: #000000;
$font-family-text:'Poppins', sans-serif;
$font-weight-text:400px;
$font-size-text:18px;
$line-height-text:27px;

//////////////////////////////////////////////////intro///////////////////////////////////////////////

$color-intro:#0370F3;
$font-family-intro:'Poppins', sans-serif;
$font-size-intro:24px;
$line-height-intro:36px;
