@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';
@import 'mixin';
@import 'class';

.header{
    background:rgb(30, 209, 185);
    &-top{
        padding: 25px 0px;
        display: flex;
        align-items: center;
    }
    &-nav{
        margin-left: 170px;
    }
    &-menu{
        display: flex;
        &__list + &__list{
            margin-left: 22px;
        }
        &__link{
            color:$color-header-nav-link;
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            &:hover{
                color:#0067F4;
            }
        }
    }
    &-btn{
        padding: 7px 13px;
        margin-left: auto;
        color: #0067F4;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        background-color:$color-main2;
        transition: all .2s linear;
        &:hover{
            color:darksalmon;
        }
    }
    &-inner{
        @include flex;
        align-items: center;
    }
    &__title{
        font-size: 72px;
        line-height: 108px;
        max-width: 421px;
        color:#fff;
        font-weight: 700;
    }
    &__text{
        color:#fff;
        max-width: 533px;
        margin-bottom: 31px;
    }
    &__link{
        padding: 6px 15px 4px 18px;
        text-transform: uppercase;
        color:$color-header-button-static;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        border: 2px solid #FFFFFF;
        border-radius: 50px;
        transition:all .3s linear;
        &:hover{
            background-color: #fff;
            color:$color-header-button-hover;
        }
    }
    &__link + &__link{
        margin-left: 30px;
    }
}
.services{
    padding:66px 0px 100px;
    background: #EAECEF;
    &__title{
        text-align: center;
        margin-bottom: 20px;
    }
    &__text{
        max-width: 600px;
        text-align: center;
        margin: 0 auto;
    }
    &-inner{
        padding-top:123px;
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    &-item{
        width: 300px;
        height: 300px;
        padding:21px 27px 34px 33px;
        background: #FFFFFF;
        &__top{
            @include flex;
            margin-bottom: 20px;
            min-height: 114px;
        }
        &__title{
            font-weight: 300;
            font-size: 29px;
            line-height: 40px;
            color: #000000;
        }
        &__text{
            text-align: left;
            margin-bottom: 16px;
        }
        &__image{
            position: relative;
            top:-15px;
        }
    }
    &-btn{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #0067F4;
        transition: all .3s linear;
        &:hover{
            color:indianred;
        }
    }
}
.work{
    padding:80px 0px 140px;
    &__title{
        text-align: center;
        margin-bottom:140px;
    }
    &__inner{
        @include flex;
    }
    &-buttons{
        width: 500px;
    }
    &__button{
        margin: 0 auto;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        display: block;
        background-color: transparent;
        border: none;
        margin-top: 28px;
        transition: all .2s linear;
        &:focus{
            color:#fff;
            padding:4px 55px;
            background: linear-gradient(90deg, #0372F1 0%, #00F2FE 100%);
            border-radius: 50px;
        }
    }
    &-images{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        gap:10px;
    }
    &__image{
        margin: 0 auto;
    }
}
.hide{
    display: none;
}
.pricing{
    padding: 82px 0px 150px;
    background-color: #EAECEF;
    &__title{
        text-align: center;
        margin-bottom:28px;
    }
    &__text{
        text-align: center;
        max-width: 596px;
        margin: 0 auto;
        margin-bottom:50px;
    }
    &__inner{
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    &-item{
        background: linear-gradient(22.76deg, #0372F1 21.05%, #68E0CF 94.69%);
        width: 300px;
        text-align: center;
    
        &__image{
            margin: 0 auto;
            height: auto;
            margin-bottom:25px;
        }
        &__category{
            display: block;
            font-weight: 300;
            font-size: 24px;
            line-height: 36px;
            color:$color-main2;
            margin-bottom:9px;
        }
        &__sale{
            display: block;
            font-weight: 500;
            font-size: 30px;
            line-height: 40px;
            color:$color-main2;
            margin-bottom:24px;
        }
        &__text{
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color:$color-main2;
            max-width:211px;
            margin: 0 auto;
            margin-bottom:25px;
        }
    }
    &-item:nth-child(1){
        padding: 42px 0px 27px;
    }
    &-item:nth-child(2){
        padding: 19px 0px 27px;
    }
    &-item:nth-child(3){
        padding:21px 0px 27px;
    }
    &-btn{
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #0067F4;
        padding:6px 13px 4px;
        background:$color-main2;
        border-radius: 50px;
    }
}
.about{
    padding:83px 0px 95px;
    text-align: center;
    &__title{
        font-size:45px;
        width: 100%;
        max-width: 775px;
        margin: 0 auto;
    }
    &-image{
        margin: 0 auto;
    }
}
.testimonials{
    padding: 90px 0px 170px;
    background: #EAECEF;
    &__inner{
        display: flex;
    }
    &-content{
        &__title{
            letter-spacing: 0.03em;
            max-width: 562px;
        }
        &__text{
            padding-top: 40px;
            font-size: 20px;
            line-height: 30px;
            max-width: 540px;
        }
    }
    &-coment{
        position: relative;
        &__wrapper{
            position: absolute;
            top: 15%;
            width: 480px;
            height: 335px;
            background-repeat: no-repeat;
        }
    }
    &-block{
        position:absolute;
        top:50px;
        left:65px;
        width: 460px;
        padding:58px 0px 46px;
        background: #FBFBFB;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
        border-radius: 62px;
        &__text{
            padding:0px 30px 30px 46px;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            border-bottom: 2px solid #D8CFCF;
        }
        &__inner{
            padding:41px 30px 0px 46px;
            @include flex;
            align-items: center;
        }
        &__content{
            display: flex;
            align-items: center;
        }
        &__content-inner{
            margin-left: 15px;
        }
        &__name,&__work{
            display: block;
        }
        &__name{
            font-weight: 400;
            font-size: 20px;
        }
        &__work{
            font-weight: 300;
            font-size: 16px;
            color: #898888;
        }
        &__reviews{
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            color: #898888;
        }
    }
    &-images{
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }
    &-list+&-list{
        margin-left:4px;
    }
}
.team{
    padding:95px 0px 176px;
    text-align: center;
    &__title{
        line-height: 82px;
        margin-bottom: 17px;
    }
    &__text{
        max-width: 596px;
        margin: 0 auto;
        margin-bottom: 96px;
    }
    &__inner{
        @include flex;
    }   
    &-item{
        width: 300px;
    }
    &-content{
        background: #FFFFFF;
        box-shadow: 1.46958e-15px 24px 48px rgba(51, 51, 51, 0.184), inset -4.0495e-16px -6.61333px 6.61333px #F0F0F0, inset 4.0495e-16px 6.61333px 6.61333px #FFFFFF;
        width: 100%;
        padding:20px 53px 22px;
        &__name,&__work{
            display: block;
        }
        &__name{
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
        }
        &__work{
            color: #0370F3;
            text-transform: capitalize;
        }
    }
}